{{- $attrs := slice -}}
{{- range $key, $value := .Params -}}
	{{- if and (eq $key "src") (hasPrefix $value "/") -}}
		{{- $value = (slicestr $value 1) | absLangURL -}}
	{{- end -}}
	{{- if not (in (slice "type") $key) -}}
		{{- $attr := printf "%s=\"%s\"" $key ($value | safeHTMLAttr) -}}
		{{- $attrs = $attrs | append $attr -}}
	{{- end -}}
{{- end -}}
<script type="{{ default "text/javascript" (.Get "type") }}"{{ if gt (len $attrs) 0 }} {{ end }}{{ delimit $attrs " " | safeHTMLAttr}}>{{ .Inner }}</script>